/* Common Styles */
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #f3f4f6, #d7dde8);
  color: #333;
}

/* Styles for the Main Page */
.center-container {
  text-align: center;
  padding: 60px;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.env-badge {
  display: inline-block;
  padding: 4px 8px;
  font-size: 0.6rem;
  color: white;
  background-color: #e67e22;
  border-radius: 12px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.pay-button {
  background-color: #5a2c9e;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.pay-button:hover {
  background-color: #451f7b;
}

/* Styles for the Payment Status Page */

.payment-status-container {
  text-align: center;
  padding: 60px;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment-status-message {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.payment-status-details {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
}

.status-success {
  color: #27ae60; /* Green for success */
}

.status-failure {
  color: #e74c3c; /* Red for failure */
}

.return-button {
  background-color: #3498db;
  color: white;
  font-size: 14px;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.return-button:hover {
  background-color: #217dbb;
}
